@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  

  :root  {
    --background: 168 95% 95%;
    --foreground: 168 5% 10%;
    --card: 168 50% 90%;
    --card-foreground: 168 5% 15%;
    --popover: 168 95% 95%;
    --popover-foreground: 168 95% 10%;
    --primary: 168 96% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 168 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 130 30% 85%;
    --muted-foreground: 168 5% 36%;
    --accent: 130 30% 80%;
    --accent-foreground: 168 5% 15%;
    --destructive: 0 95% 36%;
    --destructive-foreground: 168 5% 90%;
    --border: 168 30% 50%;
    --input: 168 30% 36%;
    --ring: 168 96% 40%;
    --radius: 0.75rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark  {
    --gradient: linear-gradient(to top left,#abbaab,#ffffff);
    --background: 168 50% 10%;
    --foreground: 168 5% 90%;
    --card: 168 50% 10%;
    --card-foreground: 168 5% 90%;
    --popover: 168 50% 5%;
    --popover-foreground: 168 5% 90%;
    --primary: 168 96% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 168 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 130 30% 25%;
    --muted-foreground: 168 5% 60%;
    --accent: 130 30% 25%;
    --accent-foreground: 168 5% 90%;
    --destructive: 0 95% 36%;
    --destructive-foreground: 168 5% 90%;
    --border: 168 30% 36%;
    --input: 168 30% 36%;
    --ring: 168 96% 40%;
    --radius: 0.75rem;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.bg-gradient { background: var(--gradient) }